# Configurações do n8n
N8N_WEBHOOK_URL="YOUR_URL_TEST_IN_N8N"

# Configurações do Grafana / Promtail
GRAFANA_LOKI_URL='YOUR_URL_IN_GRAAFANA_CLOUD'

# DATABASE
DB_NAME=comandvoice_db
DB_USER=loborh
DB_PASSWORD=123