# Configurações do n8n
N8N_WEBHOOK_URL="YOUR_URL_TEST_IN_N8N"
N8N_WEBHOOK_URL_RECEPTIONIST="YOUR_URL_TEST_IN_N8N_RECEPTIONIST"

# Configurações do Grafana / Promtail
GRAFANA_LOKI_URL='YOUR_URL_IN_GRAFANA_CLOUD'

# DATABASE
DB_NAME=exampledb
DB_USER=exampleuser
DB_PASSWORD=123
