
.env
*.local

.idea/
*.iml
*.iws
*.ipr
/out/
.vscode/

# Ignorados padrões do plugin HTTP Client do IntelliJ
/shelf/
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# Guarda os binários, .class e pacotes .jar gerados localmente
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Evita subir os binários pesados do Maven Wrapper
.mvn/timing.properties
.mvn/wrapper/.maven-wrapper.jar

# Ignora a pasta de logs gerada pelo Spring e mapeada no Docker
logs/
*.log

.DS_Store
Thumbs.dbz